<script language="javascript">

    var archive_results = {};
    
    function downloadArchive() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                archive_results = JSON.parse(this.responseText);
            }
        };
        xmlhttp.open("GET", "/archive/index.json", true);
        xmlhttp.send();
    }
    
    function runSearch(q) {
        var results_node = document.getElementById("list_results");
        results_node.innerHTML = "";
        if (q.length > 0) {
            for (var i = 0; i < archive_results.items.length; i++) {
                var item = archive_results.items[i];
                var title_lower = item.title.toLowerCase();
                var text_lower = item.content_text.toLowerCase();
                if (title_lower.includes(q) || text_lower.includes(q)) {
                    var p_node = document.createElement("p");        
                    var link_node = document.createElement("a");
                    var d = Date.parse(item.date_published);
                    var date_s = new Date(d).toISOString().substr(0, 10);
                    var date_node = document.createTextNode(date_s); 
                    link_node.appendChild(date_node);
                    link_node.href = item.url;
                    var title_node = null;
                    if (item.title.length > 0) {
                        title_node = document.createElement("span");
                        title_node.innerHTML = ": <b>" + item.title + "</b>"
                        s = item.title + ": " + item.content_text;
                    }
                    var s = item.content_text;
                    if (s.length > 200) {
                        s = s.substr(0, 200) + "...";
                    }
                    var text_node = document.createElement("span");
                    text_node.innerHTML = ": " + s
                    p_node.appendChild(link_node);
                    if (title_node != null) {
                        p_node.appendChild(title_node);
                    }
                    p_node.appendChild(text_node);
                    results_node.appendChild(p_node);
                }
            }
        } 
    }
    
    downloadArchive();
    
    </script>


{{ $categoryList := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}

<section class="blog-header">
    <header>
        <h2><a href="/">Blog</a></h2>
        <nav>
            <ul>
                <li><a href="/">Recent</a></li>
                {{ if gt (len $categoryList) 0 }}
                <li><a href="#" class="drop-link" data-nav="categories">Categories</a></li>
                {{ end }}
                <li><a href="#" class="drop-link" data-nav="search"><i class="material-icons">search</i></a></a></li>
                <li><a href="{{ .RSSLink }}"><i class="material-icons">rss_feed</i></a></li>
            </ul>
        </nav>
    </header>
    <div class="blog-controls">
        <section data-nav-content="categories">
            {{ if gt (len $categoryList) 0 }}
                <ul>    
                    {{ range $categoryList }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
            <a href="#" class="close-link material-icons">close</a>
        </section>
        <section data-nav-content="search" class="blog-search">
            <form onSubmit="return false;">
                <input class="form-control" type="search" name="q" id="input_search" placeholder="Search..." onChange="runSearch(this.value.toLowerCase());">
                <button class="button" type="submit">
                    <i class="material-icons">arrow_forward</i>
                </button>
            </form>
            <a href="#" class="close-link material-icons">close</a>
        </section>
    </div>
</section>
<div id="list_results">
</div>