<meta content="{{ .Site.Author.name }}" name="author">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="microblog-theme" content="Cypress 2022.1.1">
<meta name="designer" content="Kyle Ruane and Colin Devroe">

<title>
    {{- block "title" . -}}
    {{- .Site.Title -}}
    {{- if .Title }}
    - {{ .Title }}
    {{- end -}}
    {{- end -}}
</title>

<link href="{{ "assets/css/style.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
<link href="{{ "assets/css/microblog.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
<link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic" rel="stylesheet">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />

{{ "<!-- Microblog header begin-->" | safeHTML }}
{{ partial "microblog_head.html" . }}
