{{ define "main" }}
<div class="site-wrapper">
	{{ partial "sidebar.html" . }}
	{{ partial "blog-header.html" . }}
	<main class="page-layout">
		<section>
			<article>
				<div class="content">
					<h2>Page not found</h2>
					<div>
						<p>Sorry, the page you've tried to see either no longer exists or never did. Perhaps there was a mistake made. You can <a href="/">go to the homepage</a> or contact the author of this site.</p>
					</div>
				</div>
			</article>
		</section>
		{{ partial "footer.html" . }}
	</main>
</div>
{{ end }}