{{ define "main" }}
<div class="site-wrapper">
    {{ partial "sidebar.html" . }}
    <main>
        {{ partial "blog-header.html" . }}
        <section>
            <div class="container">
                <div class="row">
                    <div class="grid thumbnails" data-toggle="lightbox">
                        <div class="grid-sizer"></div>

                        {{- $list := where .Pages ".Params.photos" "!=" nil -}}
                        {{- $len := (len $list) -}}
                        {{ range $index, $value := $list }}

                            <div class="item">
                                <figure>
                                    {{ range first 1 .Params.photos }}
                                        <img src="https://micro.blog/photos/480x/{{ . }}">
                                    {{ end }}
                                    <div class="overlay">
                                        <a href="{{ .Permalink }}" class="more-link">
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </figure>
                            </div>

                        {{ end }}

                    </div>
                </div>
            </div>
        </section>
        {{ partial "footer.html" . }}
    </main>
</div>
{{ end }}